.buttonConnectMetamask {
    background-color: #000000;
    color: #ff7300;
    border-style: solid;
    border-color: #ff7300;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonConnectMetamask:hover {
    background-color: #ff7300;
    color: #000000;
    border-style: solid;
    border-color: #ff7300;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonHighContrast {
    background-color: #000000;
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonHighContrast:hover {
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.outer-container {
    display: flex;
    flex-wrap: wrap;  /* Allows wrapping if needed */
    gap: 20px;        /* Optional: Adjust spacing between containers */
    justify-content: center; /* Center all items horizontally */
  }
  
/* H */

.container {
    /* Ver */
    position: relative;
    padding: 100px;
    /* margin-right: auto;
    margin-left: auto; */
    text-align: center;
    /* Hor */
    flex: 0 0 auto;  /* Prevent shrinking and ensure containers keep their size */
}
